{% extends 'base.html' %}
    <meta charset="UTF-8">
{% block head %}
    <title>Title</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align : center">Predict House Price</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="crime" id="crime" placeholder="Crime rate by town" step="any">
            <br>
            <input type="number" name="residential" id="residential" placeholder="Residential land zoned" step="any">
            <br>
            <input type="number" name="non_retail" id="non_retail" placeholder="Non-retail business" step="any">
            <br>
            <input type="number" name="river" id="river" placeholder="Charles river" step="any">
            <br>
            <input type="number" name="nitric" id="nitric" placeholder="NO2 concentration" step="any">
            <br>
            <input type="number" name="rooms" id="rooms" placeholder="Number of rooms" step="any">
            <br>
            <input type="number" name="owner_occupied" id="owner_occupies" placeholder="Owner occupied units before 1940" step="any">
            <br>
            <input type="number" name="e_distance" id="e_distance" placeholder="Distance between employment center" step="any">
            <br>
            <input type="number" name="highways" id="highways" placeholder="Highways" step="any">
            <br>
            <input type="number" name="tax" id="tax" placeholder="TAX" step="any">
            <br>
            <input type="number" name="pt_ratio" id="pt_ratio" placeholder="Pupil-Teacher ratio" step="any">
            <br>
            <input type="number" name="bbt" id="bbt" placeholder="Black by town" step="any">
            <br>
            <input type="number" name="lower_status" id="lower_status" placeholder="Lower state population" step="any">
            <br>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}

